.mm-string-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mm-string-label {
  visibility: hidden;
}

.semi-hover .mm-string-label {
  visibility: visible;
}

.mm-string-label {
  width: 0px;
}